{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}

{% block content %}
{% for data in result %}
<div class="accordion" id="accordionExample">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>{{ data[0] }}</strong> &nbsp&nbsp&nbsp&nbsp<span class="badge bg-light text-dark">{{"Total number of universities are "}}{{data[2]}}</span>

                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for university in data[1].split(',') %}
                    <span class="badge bg-light text-dark">{{university}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->
<!--    <div class="accordion-item">-->
<!--        <h2 class="accordion-header" id="heading{{data[0].replace(' ','')}}">-->
<!--            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{data[0].replace(' ','')}}"-->
<!--                    aria-expanded="false" aria-controls="collapse{{data[0].replace(' ','')}}">-->
<!--                {{ data[0] }}-->
<!--            </button>-->
<!--        </h2>-->
<!--        <div id="collapse{{data[0].replace(' ','')}}" class="accordion-collapse collapse show" aria-labelledby="heading{{data[0].replace(' ','')}}"-->
<!--             data-bs-parent="#accordionExample">-->
<!--            <div class="accordion-body">-->
<!--                {{ data[1]  | safe }}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endfor %}
{% endblock %}
